h4 {
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  border-radius: 10px;
  background: #344767;
  color: white;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  width: 70%;
}
