<app-loader [state]="isLoading()"></app-loader>
<app-header-nav-mobile [title]="'Formules'" [icon]="'fas fa-layer-group'"></app-header-nav-mobile>
<app-header [title]="'Formules'" [icon]="'fas fa-layer-group'"></app-header>
<div class="mt-n8 pt-3 mb-5" style="padding-bottom: 50px">
  <div class="container-fluid px-0">
    <h2 class="position-relative z-index-2 text-white text-uppercase ms-4 mb-0 ps-3">
      Formules
    </h2>
    <hr style="margin: 5px 0 10px 40px; background: white;">
    <p class="d-block text-sm ms-4 ps-3 text-white font-weight-bold position-relative z-index-2 text-uppercase"
      style="letter-spacing: 3px;">
      Midi uniquement 12h à 14h</p>
    <owl-carousel-o [options]="carouselMultipleOptions">
      <ng-container *ngFor="let product of menus">
        <ng-template carouselSlide>
          <app-card-ticket [product]="product"></app-card-ticket>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>
<app-bottom-navbar [showBottomNavbar]="(!isDesktop() || !isLargeTablet()) && (isMobile() || isTablet())">
</app-bottom-navbar>
