<app-loader [state]="isLoading()"></app-loader>
<app-header-nav-mobile [title]="'Commande en attente'" [showCart]="false" [quantity]="orders.length">
</app-header-nav-mobile>
<app-header [quantity]="orders.length" [kitchen]="true" [subtitle]="'en attente'"></app-header>
<div class="mt-n8 pt-3 mb-5" style="padding-bottom: 50px;">
  <div class="container-fluid px-0">
    <owl-carousel-o [options]="carouselMultipleOptions">
      <ng-container *ngFor="let order of orders">
        <ng-template carouselSlide>
          <app-card-ticket [order]="order"></app-card-ticket>
        </ng-template>
      </ng-container>
    </owl-carousel-o>
  </div>
</div>
<app-bottom-navbar-kitchen [showBottomNavbar]="(!isDesktop() || !isLargeTablet()) && (isMobile() || isTablet())">
</app-bottom-navbar-kitchen>
