<div class="min-height-300 bg-gradient-info position-absolute w-100"></div>
<app-sidebar></app-sidebar>
<main class="main-content position-relative border-radius-lg " style="min-height: 100vh;">
  <app-navbar [title]="'Planning'" [icon]="'fas fa-calendar-alt'"></app-navbar>
  <div class="container-fluid py-4 mt-4">
    <div class="row mb-lg-7">
      <div class="col-lg-10 offset-lg-1">
        <div class="card card-calendar">
          <div class="card-body p-3">
            <app-calendar></app-calendar>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</main>
